body {
    background-color:lightblue;
}

h1 {
    color:black;
    text-align: center;
    font-size: 40px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;   
    text-align: center;
}

.homeImages {
    display: block;
    margin-left: auto;
    margin-right: auto;   
    width: 720px;
    
    
}

.Content {
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.linkCentre {
    text-align: center;
}